<!-- 组合小车底盘与摄像头与雷达 -->
<robot name="my_car_camera" xmlns:xacro="http://wiki.ros.org/xacro">
    <!-- 包含惯性矩阵文件 -->
    <xacro:include filename="head.xacro" />
    <!-- 包含底盘、摄像机与雷达的 xacro 文件 -->
    <xacro:include filename="demo01_car_base.urdf.xacro" />
    <xacro:include filename="demo02_car_camera.urdf.xacro" />
    <!-- <xacro:include filename="demo03_car_laser.urdf.xacro" /> -->
    <!-- 运动控制 -->
    <xacro:include filename="gazebo/move.xacro" />
    <!-- 雷达 -->
    <!-- <xacro:include filename="gazebo/laser.xacro" /> -->
    <!-- kinect -->
    <xacro:include filename="gazebo/kinect.xacro" />
</robot>
