<!-- 需求：设置不同形状的机器人部件 -->
<robot name="mycar">
    <link name="base_link">
        <!-- 可视化标签 -->
        <visual>
            <!-- 1.形状 -->
            <geometry>
                <!-- 1.1长方体的长宽高 -->
                <!-- <box size="0.5 0.3 0.1" /> -->
                <!-- 1.2圆柱，半径和长度 -->
                <!-- <cylinder radius="0.5" length="0.1" /> -->
                <!-- 1.3球体，半径-->
                <!-- <sphere radius="0.3" /> -->
                <!-- 1.4皮肤-->
                <mesh filename="package://urdf01_rviz/meshes/autolabor_mini.stl" />

            </geometry>
            <!-- 2.偏移量与倾斜弧度 -->
            <!-- 
                xyz 设置机器人在 x y z 上的偏移量
                rpy 用于设置倾斜弧度 x(翻滚) y(抚养) z(偏航)
             -->
            <origin xyz="0 0 0" rpy="1.57 0 0" />
            <!-- 3.颜色: r=red g=green b=blue a=alpha 
                        四者取值 [0,1]
             -->
            <material name="car_color">
                <color rgba="0.7 0.5 0 0.5" />
            </material>
        </visual>
    </link>
</robot>