<launch>
    <!-- 1.启动 nodelet manager(管理器具) -->
    <node pkg="nodelet" type="nodelet" args="manager" name="dasun" output="screen" />
    <!-- 2.添加节点xiaowang，参数是100 -->
    <node pkg="nodelet" type="nodelet" args="load nodelet_tutorial_math/Plus dasun" name="xiaowang" output="screen" >
        <param name="value" value="100" />
    </node>
    <!-- 3.添加节点二狗，参数是 -50 ，xiaowang的输出作为ergou的输入 -->
    <node pkg="nodelet" type="nodelet" args="load nodelet_tutorial_math/Plus dasun" name="ergou" output="screen" >
        <param name="value" value="-50" />
        <remap from="/ergou/in" to="/xiaowang/out" />
    </node>

</launch>
